AI DevOps Agent.blueprint.json
{
    "name": "AI DevOps Agent",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2655668,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "github webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5548154
            },
            "mapper": {
                "model": "gemini-2.5-flash-lite",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "text",
                                "text": "You are a senior code reviewer. Analyze this GitHub Pull Request.\r\n\r\nPR Action: {{1.action}}\nPR Title: {{1.pull_request.title}}\nPR Author: {{1.sender.login}}\r\nPR Body: {{1.pull_request.body}}\r\nFiles Changed: {{1.pull_request.changed_files}}\r\nAdditions: {{1.pull_request.additions}}\r\nDeletions: {{1.pull_request.deletions}}\r\n\r\nReturn ONLY raw valid JSON - no markdown, no extra text:\r\n{\r\n  \"summary\": \"2-3 line review summary\",\r\n  \"severity\": \"low\" or \"medium\" or \"high\",\r\n  \"needs_jira_ticket\": true or false,\r\n  \"ticket_title\": \"short issue title if needed\",\r\n  \"suggestion\": \"one improvement tip\",\r\n  \"confidence\": 0-100\r\n}\nIMPORTANT: For any PR that adds new code or functions, \r\nalways set needs_jira_ticket to true."
                            }
                        ]
                    }
                ],
                "system_instruction": {
                    "parts": [
                        {
                            "text": "You are a senior software engineer and code reviewer with 10+ years of experience.\r\nYou review GitHub Pull Requests carefully and return structured JSON analysis.\r\nAlways be precise, professional, and helpful.\r\nSTRICTLY return ONLY a raw JSON object.\r\nDo NOT use markdown.\r\nDo NOT use ```json or ``` anywhere.\r\nDo NOT add any text before or after JSON.\r\nStart your response with { and end with }"
                        }
                    ]
                },
                "generationConfig": {
                    "thinkingConfig": {},
                    "imageConfig": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gemini AI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash-Lite"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        },
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ]
                    },
                    {
                        "name": "system_instruction",
                        "type": "collection",
                        "label": "System Instructions",
                        "spec": [
                            {
                                "name": "parts",
                                "type": "array",
                                "label": "Prompts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "safetySettings",
                        "type": "array",
                        "label": "Safety Settings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "generationConfig",
                        "type": "collection",
                        "label": "Generation configurations",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "type": "array",
                                "label": "Stop Sequences",
                                "spec": {
                                    "type": "text",
                                    "label": "Stop Sequence",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "type": "collection",
                                "label": "Thinking Config",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "type": "collection",
                                "label": "Image Configuration",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ]
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{replace(replace(replace(8.result; \"```json\"; ); \"```\"; ); \"\\n\"; )}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "jira:createAnIssue",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5928281
                            },
                            "filter": {
                                "name": "Need Jira Ticket",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{11.needs_jira_ticket}}",
                                            "o": "text:equal",
                                            "b": "true"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "project": "10001",
                                "issueType": "10007",
                                "summary": "{{11.ticket_title}}",
                                "description": "## AI Code Review Report\r\n\r\n**PR Author:**{{1.sender.login}}\r\n**Repo:** {{1.repository.full_name}}\r\n**Severity:**{{11.severity}}\r\n## Summary\r\n{{11.summary}}\r\n## Suggestion\r\n{{11.suggestion}}\r\n\r\n## Confidence Score\r\n{{11.confidence}}/100",
                                "reporter": "638a1e04489de2f7f466f484",
                                "labels": [
                                    "Ai-Review"
                                ],
                                "priority": "{{if(11.severity = \"high\"; \"High\"; )}}",
                                "customFields": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Jira Cloud Platform connection (muhammadinaam243.atlassian.net - inamurRehman)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "jira"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "project": {
                                            "label": "Ai Devops Agent"
                                        },
                                        "updateHistory": {
                                            "mode": "chose"
                                        },
                                        "issueType": {
                                            "label": "Task"
                                        },
                                        "status": {
                                            "mode": "chose"
                                        },
                                        "reporter": {
                                            "rpcSearch": {
                                                "label": "inamurRehman",
                                                "value": "638a1e04489de2f7f466f484"
                                            }
                                        },
                                        "labels": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "priority": {
                                            "mode": "edit"
                                        },
                                        "customFields": {
                                            "nested": {
                                                "customfield_10021": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:jira",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "project",
                                        "type": "select",
                                        "label": "Project ID",
                                        "required": true
                                    },
                                    {
                                        "name": "updateHistory",
                                        "type": "boolean",
                                        "label": "Update History"
                                    },
                                    {
                                        "name": "issueType",
                                        "type": "select",
                                        "label": "Issue Type ID",
                                        "required": true
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "any",
                                        "label": "Summary",
                                        "required": true
                                    },
                                    {
                                        "name": "description",
                                        "type": "any",
                                        "label": "Description",
                                        "metadata": {
                                            "isDescription": true
                                        }
                                    },
                                    {
                                        "name": "reporter",
                                        "type": "text",
                                        "label": "Reporter",
                                        "metadata": {
                                            "isObjectWithId": true
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "assignee",
                                        "type": "text",
                                        "label": "Assignee",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "duedate",
                                        "type": "date",
                                        "label": "Due date"
                                    },
                                    {
                                        "name": "issuerestriction",
                                        "type": "text",
                                        "label": "Restrict to"
                                    },
                                    {
                                        "name": "labels",
                                        "type": "array",
                                        "label": "Labels",
                                        "spec": {
                                            "type": "text",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "parent",
                                        "type": "text",
                                        "label": "Parent Key",
                                        "metadata": {
                                            "isObjectWithKey": true
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "customFields",
                                        "type": "collection",
                                        "label": "Custom Fields",
                                        "spec": [
                                            {
                                                "name": "customfield_10000",
                                                "type": "any",
                                                "label": "Development"
                                            },
                                            {
                                                "name": "customfield_10001",
                                                "type": "text",
                                                "label": "Team"
                                            },
                                            {
                                                "name": "customfield_10015",
                                                "type": "date",
                                                "label": "Start date"
                                            },
                                            {
                                                "name": "customfield_10019",
                                                "type": "any",
                                                "label": "Rank"
                                            },
                                            {
                                                "name": "customfield_10021",
                                                "type": "select",
                                                "label": "Flagged",
                                                "metadata": {
                                                    "isArrayWithId": true
                                                },
                                                "multiple": true
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 5928975
                            },
                            "mapper": {
                                "channelWType": "manualy",
                                "text": "🚨 *New Jira Ticket Created by AI Agent!*\r\n\r\n*PR Author:* {{1.sender.login}}\r\n*Repo:* {{1.repository.full_name}}\r\n*Severity:* {{11.severity}}\n*Summary:* {{11.summary}}\r\n\r\n*Suggestion:* {{11.suggestion}}\r\n\r\n*Confidence:* {{11.confidence}}/100\r\n\r\n✅ Jira ticket created automatically!",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "ai-devops-agent"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Ai-devops-agent (aidevopsagent.slack.com - make)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 5928975
                            },
                            "filter": {
                                "name": "No Ticket Needed",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{11.needs_jira_ticket}}",
                                            "o": "text:equal",
                                            "b": "false"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "channelWType": "manualy",
                                "text": "🚨 *New Jira Ticket Created by AI Agent!*\r\n\r\n*PR Author:* {{1.sender.login}}\r\n*Repo:* {{1.repository.full_name}}\r\n*Severity:* {{11.severity}}\n*Summary:* {{11.summary}}\r\n\r\n*Suggestion:* {{11.suggestion}}\r\n\r\n*Confidence:* {{11.confidence}}/100\r\n\r\n✅ Jira ticket created automatically!",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "ai-devops-agent"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Ai-devops-agent",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    },
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    },
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}